
footer{
    background-color: #5a5a5a;
    width:100%;
    padding-bottom: 15px;
}

.footer__logo{
    font-family: "Shrikhand";
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: larger;
}

.footer--style{
    font-family: 'Roboto';
    font-weight: 700;
    color: white;
    list-style: none;
}