.header__heading{
    width: 200px;
    display: block;
    padding-left: 83px;
    padding-right: 95px;
    padding-bottom: 15px;
    padding-top: 15px;
    border-bottom: 1px solid #E6E6E6;
    box-shadow:2px 2px 2px #E6E6E6;
}